# Relatório de Análise III
## Imóveis Residenciais

In [1]:
import pandas as pd

In [13]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [3]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [5]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [6]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [7]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [9]:
selecao = dados['Tipo'].isin(residencial)
selecao.head(10)

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: Tipo, dtype: bool

In [10]:
df_residencial = dados[selecao]
df_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
24,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
27,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
28,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
30,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
31,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
32,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
33,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
34,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
36,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
37,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0
...,...,...,...,...,...,...,...,...,...
32918,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0
32919,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0
32920,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0
32921,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0
32922,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0
32924,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
32925,Apartamento,Campinho,2,0,0,63,800.0,392.0,NaN
32930,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0
32931,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
32932,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0
32933,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0
32934,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0
32935,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0
32936,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0
32938,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0
32940,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
32941,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
32943,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0
32944,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
32945,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0
32947,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
32949,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0
32950,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32952,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [11]:
list(df_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [20]:
df_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
24,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
27,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
28,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
30,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
31,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
32,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
33,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
34,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
36,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
37,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0
...,...,...,...,...,...,...,...,...,...
32918,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0
32919,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0
32920,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0
32921,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0
32922,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0
32924,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
32925,Apartamento,Campinho,2,0,0,63,800.0,392.0,NaN
32930,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0
32931,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
32932,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0
32933,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0
32934,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0
32935,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0
32936,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0
32938,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0
32940,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
32941,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
32943,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0
32944,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
32945,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0
32947,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
32949,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0
32950,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32952,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## Exportando a Base de dados

In [21]:
df_residencial.to_csv('dados/aluguel_residencial.csv', sep = ';', index=False)