# Relatório de Análise IV

## Seleções e Frequências

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [3]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
15,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
16,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
17,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
21,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
22,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
23,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
26,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
27,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
29,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0
...,...,...,...,...,...,...,...,...,...
22550,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0
22551,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0
22552,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0
22553,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0
22554,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
22556,Apartamento,Campinho,2,0,0,63,800.0,392.0,NaN
22557,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
22559,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0
22560,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0
22561,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0
22562,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0
22563,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0
22564,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0
22565,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
22566,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
22567,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22569,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0
22570,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
22571,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0
22572,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [4]:
# Selecao somente os imóveis classificados com tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
5         True
6        False
7        False
8         True
9         True
10        True
11        True
12       False
13        True
14       False
15        True
16        True
17        True
18       False
19        True
20        True
21        True
22        True
23        True
24       False
25        True
26        True
27        True
28        True
29        True
         ...
22550     True
22551     True
22552     True
22553     True
22554     True
22555    False
22556     True
22557     True
22558    False
22559     True
22560     True
22561     True
22562     True
22563     True
22564     True
22565     True
22566     True
22567     True
22568     True
22569    False
22570     True
22571     True
22572     True
22573     True
22574    False
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [6]:
n_apart = dados[selecao].shape[0]
n_apart

19532

In [9]:
# Selecao dos imóveis classificados como qualquer tipo de 'Casa'
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n_casas = dados[selecao].shape[0]
n_casas

2212

In [10]:
# Selecao dos imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
# <= Area <= 100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n_area = dados[selecao].shape[0]
n_area

8719

In [12]:
# Selecao dos imóveis com menos de 4 quartos e aluguel menor que R$ 2.000,00
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n_quartos = dados[selecao].shape[0]
n_quartos

41

In [17]:
print("Nº de imóveis classificados com tipo \'Apartamento\': " + str(n_apart))
print("Nº de imóveis classificados como qualquer tipo de \'Casa\': " + str(n_casas))
print("Nº de imóveis com área entre 60 e 100 metros quadrados: " + str(n_casas))
print("Nº de imóveis com menos de 4 quartos e aluguel menor que R$ 2.000,00: " + str(n_quartos))

Nº de imóveis classificados com tipo 'Apartamento': 19532
Nº de imóveis classificados como qualquer tipo de 'Casa': 2212
Nº de imóveis com área entre 60 e 100 metros quadrados: 2212
Nº de imóveis com menos de 4 quartos e aluguel menor que R$ 2.000,00: 41