# Relatótio de Análise V

## Tratamento de dados faltantes

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [5]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [6]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
5      False   False    False  False   False  False  False       False  False
6      False   False    False  False   False  False  False        True   True
7      False   False    False  False   False  False  False        True   True
8      False   False    False  False   False  False  False        True   True
9      False   False    False  False   False  False  False       False  False
10     False   False    False  False   False  False  False       False  False
11     False   False    False  False   False  False  False       False  False
12     False   False    False  False   False  False  False       False   True
13     False   False    False  False   False  False  False       False  False
14     False   False    False  False   False  False  False        True   True
15     False   False    False  False   False  False  False       False  False
16     False   False    False  False   False  False  False       False  False
17     False   False    False  False   False  False  False       False  False
18     False   False    False  False   False  False  False       False   True
19     False   False    False  False   False  False  False       False   True
20     False   False    False  False   False  False  False       False   True
21     False   False    False  False   False  False  False       False  False
22     False   False    False  False   False  False  False       False  False
23     False   False    False  False   False  False  False       False  False
24     False   False    False  False   False  False  False        True   True
25     False   False    False  False   False  False  False       False   True
26     False   False    False  False   False  False  False       False  False
27     False   False    False  False   False  False  False       False  False
28     False   False    False  False   False  False  False       False   True
29     False   False    False  False   False  False  False       False  False
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22550  False   False    False  False   False  False  False       False  False
22551  False   False    False  False   False  False  False       False  False
22552  False   False    False  False   False  False  False       False  False
22553  False   False    False  False   False  False  False       False  False
22554  False   False    False  False   False  False  False       False  False
22555  False   False    False  False   False  False  False       False   True
22556  False   False    False  False   False  False  False       False   True
22557  False   False    False  False   False  False  False       False  False
22558  False   False    False  False   False  False  False        True  False
22559  False   False    False  False   False  False  False       False  False
22560  False   False    False  False   False  False  False       False  False
22561  False   False    False  False   False  False  False       False  False
22562  False   False    False  False   False  False  False       False  False
22563  False   False    False  False   False  False  False       False  False
22564  False   False    False  False   False  False  False       False  False
22565  False   False    False  False   False  False  False       False  False
22566  False   False    False  False   False  False  False       False  False
22567  False   False    False  False   False  False  False       False  False
22568  False   False    False  False   False  False  False       False   True
22569  False   False    False  False   False  False  False       False  False
22570  False   False    False  False   False  False  False       False  False
22571  False   False    False  False   False  False  False       False  False
22572  False   False    False  False   False  False  False       False  False
22573  False   False    False  False   False  False  False       False   True
22574  False   False    False  False   False  False  False       False  False
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [8]:
dados.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True  False
4      True    True     True   True    True  True   True       False  False
5      True    True     True   True    True  True   True        True   True
6      True    True     True   True    True  True   True       False  False
7      True    True     True   True    True  True   True       False  False
8      True    True     True   True    True  True   True       False  False
9      True    True     True   True    True  True   True        True   True
10     True    True     True   True    True  True   True        True   True
11     True    True     True   True    True  True   True        True   True
12     True    True     True   True    True  True   True        True  False
13     True    True     True   True    True  True   True        True   True
14     True    True     True   True    True  True   True       False  False
15     True    True     True   True    True  True   True        True   True
16     True    True     True   True    True  True   True        True   True
17     True    True     True   True    True  True   True        True   True
18     True    True     True   True    True  True   True        True  False
19     True    True     True   True    True  True   True        True  False
20     True    True     True   True    True  True   True        True  False
21     True    True     True   True    True  True   True        True   True
22     True    True     True   True    True  True   True        True   True
23     True    True     True   True    True  True   True        True   True
24     True    True     True   True    True  True   True       False  False
25     True    True     True   True    True  True   True        True  False
26     True    True     True   True    True  True   True        True   True
27     True    True     True   True    True  True   True        True   True
28     True    True     True   True    True  True   True        True  False
29     True    True     True   True    True  True   True        True   True
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
22550  True    True     True   True    True  True   True        True   True
22551  True    True     True   True    True  True   True        True   True
22552  True    True     True   True    True  True   True        True   True
22553  True    True     True   True    True  True   True        True   True
22554  True    True     True   True    True  True   True        True   True
22555  True    True     True   True    True  True   True        True  False
22556  True    True     True   True    True  True   True        True  False
22557  True    True     True   True    True  True   True        True   True
22558  True    True     True   True    True  True   True       False   True
22559  True    True     True   True    True  True   True        True   True
22560  True    True     True   True    True  True   True        True   True
22561  True    True     True   True    True  True   True        True   True
22562  True    True     True   True    True  True   True        True   True
22563  True    True     True   True    True  True   True        True   True
22564  True    True     True   True    True  True   True        True   True
22565  True    True     True   True    True  True   True        True   True
22566  True    True     True   True    True  True   True        True   True
22567  True    True     True   True    True  True   True        True   True
22568  True    True     True   True    True  True   True        True  False
22569  True    True     True   True    True  True   True        True   True
22570  True    True     True   True    True  True   True        True   True
22571  True    True     True   True    True  True   True        True   True
22572  True    True     True   True    True  True   True        True   True
22573  True    True     True   True    True  True   True        True  False
22574  True    True     True   True    True  True   True        True   True
22575  True    True     True   True    True  True   True        True   True
22576  True    True     True   True    True  True   True        True   True
22577  True    True     True   True    True  True   True        True   True
22578  True    True     True   True    True  True   True        True   True
22579  True    True     True   True    True  True   True        True  False

[22580 rows x 9 columns]

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
Tipo          22580 non-null object
Bairro        22580 non-null object
Quartos       22580 non-null int64
Vagas         22580 non-null int64
Suites        22580 non-null int64
Area          22580 non-null int64
Valor         22571 non-null float64
Condominio    20765 non-null float64
IPTU          15795 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [10]:
dados[dados['Valor'].notnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
15,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
16,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
17,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
21,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
22,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
23,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
26,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
27,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
29,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0
...,...,...,...,...,...,...,...,...,...
22550,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0
22551,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0
22552,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0
22553,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0
22554,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
22556,Apartamento,Campinho,2,0,0,63,800.0,392.0,NaN
22557,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
22559,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0
22560,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0
22561,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0
22562,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0
22563,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0
22564,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0
22565,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
22566,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
22567,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22569,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0
22570,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
22571,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0
22572,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [12]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

9

## Trabalhando com os dados faltantes

In [13]:
dados[dados['Condominio'].isnull()].shape[0]

1813

In [14]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [15]:
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [16]:
dados[dados['Condominio'].isnull()].shape[0]

1068

In [17]:
dados = dados.fillna({'Condominio': 0, 'IPTU': 0})

## Verificando os dados

In [20]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [21]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [22]:
# Salvando os dados
dados.to_csv('dados/aluguel_residencial.csv', sep=';', index=False)