In [2]:
import pandas as pd

# Criando Series

In [2]:
data = [1, 2, 3, 4, 5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
index = ['Linha_' + str(i) for i in range(5)]
print(index)

['Linha_0', 'Linha_1', 'Linha_2', 'Linha_3', 'Linha_4']

In [8]:
s = pd.Series(data = data, index = index)
s

Linha_0    1
Linha_1    2
Linha_2    3
Linha_3    4
Linha_4    5
dtype: int64

In [9]:
data = {'Linha_' + str(i) : i + 1 for i in range(5)}

In [10]:
data

{'Linha_0': 1, 'Linha_1': 2, 'Linha_2': 3, 'Linha_3': 4, 'Linha_4': 5}

# DataFrame

In [12]:
data = [[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
colunas = ['Coluna' + str(i) for i in range(3)]
linhas = ['Linha' + str(i) for i in range(3)]
df1 = pd.DataFrame(data = data, index = linhas, columns = colunas)

In [30]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [19]:
dados = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [20]:
df2 = pd.DataFrame(data = dados)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [21]:
data = [(1, 2, 3),
       (4, 5, 6),
       (7, 8, 9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [31]:
df4 = pd.concat([df1, df2])
df4

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

## Testando valores

In [33]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4

In [34]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [37]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [36]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

# TRABALHANDO COM SORT

In [48]:
numeros = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
df_sort = pd.DataFrame(numeros, list('321'), list('ZYX'))

In [51]:
df_sort.sort_index(inplace=True, axis = 1)
df_sort

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

# Frequências

In [3]:
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [7]:
selecao = alunos['Aprovado'] == True
aprovados = alunos[selecao]
aprovados

    Nome  Idade Sexo  Notas  Aprovado
0    Ary     15    M    7.5      True
3   Beto     32    M   10.0      True
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True

In [9]:
selecao = (alunos.Aprovado == True) & (alunos.Sexo == 'M') 
aprovadas = alunos[selecao]
aprovadas

   Nome  Idade Sexo  Notas  Aprovado
0   Ary     15    M    7.5      True
3  Beto     32    M   10.0      True